@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin grid {
	&:not(:last-child) {
		margin-right: $gutter;
	}
	float: left;
	// background-color: rgb(255, 201, 242);
}
