// COLORS
$color-primary: #55c57a;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;
$color-white: #fff;
$color-gray: #777;
$color-black: #000;
$color-black-transparent: rgba(#000, .2);

$color-gray-light-1: #eeeeee;

// GRID
$grid-width: 114rem;
$grid-margin-bottom: 8rem;
$gutter: 6rem;

// FONT
$font-size-default: 1.6rem;