*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   /* inherit the box sizing property from body */
   box-sizing: inherit;
}

html {
   /* font-size: 10px; */
   /* changing to 62.5% instead to allow user agent font modifications, 10/16=.625 */
   font-size: 62.5%;
}

body {
   box-sizing: border-box;
}
